# Ambiente Virtual
venv/
# Variáveis de Ambiente (Segurança: NÃO SUBIR TOKEN/SENHAS)
.env
# Cache do Python
__pycache__/
*.pyc
# Configurações do VS Code
.vscode/
# Arquivos de Sistema
.DS_Store
Thumbs.db